@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

@theme {
	--color-green: #35451a;
	--color-green-dark: #293514;
	--color-orange: #e88418;
	--color-orange-dark: #b46713;
	--color-yellow: #fcc705;
	--color-red: #cc3a12;
	--color-cream: #fff1d2;
	--color-black: #000000;

	--font-sans: "DM Sans", system-ui, sans-serif;
}

:root {
	color-scheme: light;
	color: var(--color-green);
	background: var(--color-cream);
	font: 16px / 145% var(--font-sans);
	letter-spacing: 0.18px;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
}

h2 {
	letter-spacing: 2px;
	font-size: var(--text-5xl); 
    line-height: var(--tw-leading, var(--text-5xl--line-height));
}

@media (max-width: 768px) {
  h2 {
	letter-spacing: 2px;
    font-size: var(--text-4xl);
	line-height: var(--tw-leading, var(--text-4xl--line-height));
  }
}

nav a:hover { color: var(--color-orange); }

@keyframes logo-enter {
  from {
    transform: scale(0) rotate(-180deg);
  }

  to {
    transform: scale(1) rotate(0deg);
  }
}

.animate-logo-enter {
  animation: logo-enter 4s ease-out forwards;
}